@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can learn how to create asp.net core website    with shehrman ibrahim</p>
   
    <img src="~/Images/469407_1.jpg" />
</div>
